body {
	background-image:url(background.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.lefty1
{
	position:absolute;
	top:5em;
	background-color:#efefef;
	left:0;
	border-right: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	height:50em;
	min-height:100%;
	width:50%;
}
.righty1
{
	float:right;
	top:5em;
	background-color:#f7f7f7;
	border-left: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	right:0;	
	height:50em;
	min-height:100%;
	width:50%;
}